
<h1>Salut <%= @admin.first_name%> !</h1>
<p>
  Pour info, <%= @user.first_name.capitalize %> participe à ton évènement <%= @event.title %>.
</p>
<p>
  Voici son email <%= @user.email %>.
</p>
<p>
  Voici ton email <%= @admin.email %>.
</p>