<div class ="container">
<div class="login-box">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <h1>Log in</h1>

    <div class="textbox">
      <i class="fas fa-user"></i>
      <div class="input">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
    </div>

    <div class="textbox">
      <i class="fas fa-lock"></i>
      <div class="input">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <% end %>

    <div class="input">
      <%= f.submit "Log in", class: "btn-login" %>
    </div>

    <%= render "devise/shared/links" %>


<% end %>

</div>
</div>


